@using AdsVenture.Commons.Resources;

<ul class="breadcrumb">
    @foreach (var node in Model)
    {
        if (!node.IsCurrent && !node.IsClickable)
        {
            <li>
                <a href="javascript:void(0)" class="link_disabled">@node.Title</a>
                <span class="breadcrumb_arrow"></span>
            </li>

        }
        else if (!node.IsCurrent)
        {
            <li>
                <a href="@node.Url">@node.Title</a>
                <span class="breadcrumb_arrow"></span>
            </li>
        }
        else
        {
            <li class="active">
                <a href="javascript:void(0)">@node.Title</a>
            </li>
        }
    }
    @{
        ViewBag.IsExcelExportable = (ViewBag.IsExcelExportable ? true : !String.IsNullOrEmpty(ViewBag.ExcelExportUrl));
    }
    @if(ViewBag.IsPdfExportable || ViewBag.IsExcelExportable){
        <li class="breadcrumb_actions">
            @if(ViewBag.IsPdfExportable) {
                <a href="javascript:void(0)" title="@Shared.Export"><i class="bg_icons bg_icon_pdf"></i></a>
            }
            @if (ViewBag.IsExcelExportable) {
                <a title="@Shared.Export"
                    href="javascript:app.exportCurrentView('excel')">
                    <i class="bg_icons bg_icon_excel"></i>
                </a>
            }
        </li>
    }
</ul>
