@model IEnumerable<Advertiser>

@{
    Layout = null;
    var HtmlItem = Html.ToItemModel();
}
<table id="datatable" class="table table-striped table-bordered dataTable">
    <thead>
        <tr>
            <th data-sortable="false" class="col-check">
                <input class="checkall" type="checkbox">
            </th>
           <th data-sort-field="@HtmlItem.DisplayLiteral((m) => m.ID)">
               @HtmlItem.DisplayNameFor((m) => m.ID)
           </th>
           <th data-sort-field="@HtmlItem.DisplayLiteral((m) => m.Name)">
               @HtmlItem.DisplayNameFor((m) => m.Name)
            </th>
            <th data-sort-field="@HtmlItem.DisplayLiteral((m) => m.CreatedOn)">
               @HtmlItem.DisplayNameFor((m) => m.CreatedOn)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            HtmlItem = Html.ToItemModel(m);
            <tr>
                <td>
                    <input type="checkbox" name="check-id" value="@m.ID">
                </td>
                <td>
                    <a href="@Url.Action("edit", new { id = m.ID })">
                        @HtmlItem.DisplayFor(x => x.ID)
                    </a>
                </td>
                <td>
                    <span data-descriptor-field="@HtmlItem.DisplayLiteral(x => x.Name)">
                        @m.Name
                    </span>
                </td>
                <td>@m.CreatedOn.Format()</td>
            </tr>
        }
    </tbody>
</table>