@model AdsVenture.Presentation.ContentServer.Models.Publishers.Form

@{
    var HtmlEntity = Html.ToInnerModel(x => x.Entity);
}

<form role="form" method="post">
    @if (!Model.IsNew)
    {
        @HtmlEntity.HiddenFor(m => m.ID)
    }

    <div class="form-group">
        <label for="@HtmlEntity.IdFor(m => m.Name)" class="control-label">
            @HtmlEntity.DisplayEntityNameFor(m => m.Name)
        </label>
        @HtmlEntity.Tags().TextBoxFor(m => m.Name).AddClass("form-control")
    </div>

    <div class="form-group">
        <label for="@HtmlEntity.IdFor(m => m.CountryID)" class="control-label">
            @HtmlEntity.DisplayEntityNameFor(m => m.Country)
        </label>
        @(HtmlEntity.Tags().SelectFor(
                m => m.CountryID,
                Model.CountryOptions,
                defaultValue: (int)Country.Options.Argentina)
            .AddClass("form-control"))
    </div>

    <div class="">
        <button type="submit" class="btn btn-primary">@Resources.Global.Save</button>
        <a class="btn btn-link btn_negative" href="@Url.Action("")">@Resources.Global.Cancel</a>
    </div>
</form>